/* main styles */
body {
    font-family: 'Ubuntu', sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
    color: #333;
    margin: 0;
    padding: 0;
    transition: background-color 0.3s, color 0.3s;
}

#darkenButton {
    font-family: 'Ubuntu', sans-serif;
    font-size: 1em;
    color: #ffffff;
    background-color: #366a37;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    text-decoration: none;
}

#darkenButton:hover {
    background-color: #4caf50;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    background-color: #366a37;
    color: white;
    text-align: center;
    position: sticky;
    top: 0;
}

/* navigation */
nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

/**/
main {
    padding: 20px;
}

/* content */
.about {
    border: 1px solid #ccc;
    margin-bottom: 20px;
    background-color: white;
    padding: 15px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.accounts {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

#quote, #contact {
    border: 1px solid #ccc;
    margin-bottom: 20px;
    background-color: white;
    padding: 15px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.brand {
    display: flex;
    align-items: center;
}

.logo {
    width: 100px;
    height: auto;
    margin-right: 10px;
}

.grid-accounts {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
}

#ascii_art {
    border: 1px solid #ccc;
    margin-bottom: 20px;
    background-color: white;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    text-align: center;
}

#my_achievements {
    border: 1px solid #ccc;
    margin-bottom: 20px;
    background-color: white;
    padding: 15px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    text-align: left;
}

h2 {
    color: #366a37;
}

article {
    border-bottom: 1px solid #ccc;
    margin: 10px;
    padding: 10px;
    flex: 1 0 300px;
    background-color: white;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    text-align: center;
}

article img {
    max-width: 100%;
    height: auto;
}

#accounts h2 {
    text-align: center;
}

/* quote */
blockquote {
    background-color: #eaeaea;
    padding: 15px;
    border-left: 5px solid #366a37;
    margin: 10px 0;
    display: inline-block;
}

/* text */
strong {
    color: #d54e21;
}

del {
    text-decoration: line-through;
}

ins {
    text-decoration: underline;
}

.italic {
    font-style: italic;
}

/* Контактная информация */
#contact p {
    margin: 5px 0;
}

/* Стилизация заголовков */
h1 {
    font-size: 2em;
}

h2 {
    font-size: 1.5em;
}

h3 {
    font-size: 1.2em;
}

h4 {
    font-size: 1em;
}

/* footer */
footer {
    text-align: center;
    padding: 10px;
    background-color: #366a37;
    color: white;
    position: relative;
    max-width: 100%;
    bottom: 0;
}

@media screen and (max-width: 800px) {
    section#quote {
        display: none;
    }
}

.table-accounts {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.table-accounts thead, .table-accounts tbody, .table-accounts tr {
    display: contents;
}

.table-accounts th, .table-accounts td {
    padding: 8px;
    border: 3px solid #ddd;
    text-align: center;
}

.table-accounts thead th {
    background-color: #4CAF50;
    color: white;
}

.table-accounts tbody tr:nth-child(odd) {
    background-color: #aaaaaa;
}

.table-accounts tbody tr:nth-child(even) td {
    background-color: #ffffff;
}

.table-container h2 {
    text-align: center;
}

nav ul li a.active {
    background-color: #4CAF50;
    color: #ffffff;
    padding: 8px;
}

nav ul li a:hover {
    background-color: #4CAF50;
}